.todo{
    background-color: rgb(220, 240, 230, .5);
    padding: 50px 0;
    font-size: 1.2rem;
}

.todoTitle {
    text-align: center;
    margin-bottom: 30px;
}

.todoWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: flex-start;
}

.todoFormWrapper {
    flex-grow: 1;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(159, 209, 209);
    border-radius: 15px;
}

.todoForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.todoLable {
    padding: 5px 0;
}

.todoInput,
.todoBtn,
.postBtnReady {
    border: none;
}

button:hover,
.todoInput:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(131, 122, 255, .8);
}

.todoInput {
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 15px;
}

.todoBtn {
    display: block;
    align-self: flex-end;
    padding: 10px;
    border-radius: 7px;
}

.todoResult {
    font-size: 1.4rem;
}




.todoListWrapper{
    max-width: 400px;
    flex-grow: 1;
}

.todoListItem {  
    margin-bottom: 15px;
}

.post {
    position: relative;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(219, 136, 136);
}

.postAuthor, .postTodo {
    margin-bottom: 15px;
}

.postBtnReady, .postDelete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25px;
    height: 25px;
    border-radius: 7px;
}

.postDelete {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    background-color: rgb(219, 136, 136, .9);
    border-radius: 6px;
}

.postComplete {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    background-color: rgb(191, 219, 145);
}

#allContent {
    position: relative;
    height: 100vh;
}
.copyright {
    position: absolute;
    bottom: 0;
}